:root {
  --primary-title-font: 'Seymour One', sans-serif;
  --primary-text-font: 'Montserrat', sans-serif;
  --second-text-font: 'Roboto', sans-serif;
  --primary-bg-color: #84a178;
  --primary-black-text: #131313;
  --primary-white-text: #fcfcfc;
  --accent-color: #f8d24e;
  --product-bg-green: #aec6a5;
  --product-bg-yellow: #efd478;
  --product-bg-brown: #d6936d;
  --contact-brown: #d6936d;
  --contact-grey: #ababab;
  --contact-bg-white: #ffffff;
  --line-grey: #e1e1e1;
  --footer-grey: #7a7a7a;
  --modal-bg-white: #fcfcfc;
  --modal-input-yellow: rgba(248, 210, 78, 0.1);
  --btn-bg-hover: #0a8817;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
