<!--contacts-->
<section class="contacts" id="cnts">
  <h2 class="visually-hidden">contacts</h2>
  <div class="container contacts__container">
    <ul class="address__container list">
      <li class="address__card">
        <p class="address__cafe">CAFE</p>
        <ul class="address__content list">
          <li class="address__location">
            <p class="address__city">Chicago</p>
            <a
              class="address__map link cursor"
              href="https://goo.gl/maps/VzNoZLMBNPfWPi5u5"
              >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
            >
          </li>
          <li class="address__schedule">
            <ul class="address__menu list">
              <li class="address__item">
                <p class="address__day">Monday - Friday</p>
                <p class="address__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="address__item">
                <p class="address__day">Saturday - Sunday</p>
                <p class="address__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="address__cont">
            <a class="address__tel link cursor" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
            <a
              class="address__mail link cursor"
              href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="address__card">
        <p class="address__foodtruck">FOODTRUCK</p>
        <ul class="address__content list">
          <li class="address__location">
            <p class="address__city">Los Angeles</p>
            <a
              class="address__map link cursor"
              href="https://goo.gl/maps/nHLZZqbbWmXqPMtEA"
              >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
            >
          </li>
          <li class="address__schedule">
            <ul class="address__menu list">
              <li class="address__item">
                <p class="address__day">Monday - Friday</p>
                <p class="address__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="address__item">
                <p class="address__day">Saturday - Sunday</p>
                <p class="address__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="address__cont">
            <a class="address__tel link cursor" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
            <a
              class="address__mail link cursor"
              href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="address__card">
        <p class="address__cafe">CAFE</p>
        <ul class="address__content list">
          <li class="address__location">
            <p class="address__city">New York</p>
            <a
              class="address__map link cursor"
              href="https://goo.gl/maps/fTWdC7voBk4f9Qzw8"
              >726 Sterling Pl, Brooklyn, NY 11222, USA</a
            >
          </li>
          <li class="address__schedule">
            <ul class="address__menu list">
              <li class="address__item">
                <p class="address__day">Monday - Friday</p>
                <p class="address__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="address__item">
                <p class="address__day">Saturday - Sunday</p>
                <p class="address__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="address__cont">
            <a class="address__tel link cursor" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
            <a
              class="address__mail link cursor"
              href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <div class="address__button">
      <button
        type="button"
        class="button_location address__lctn cursor"
        data-modal4-open
      >
        <span class="button_spit">Our Locations</span>
        <svg class="button_spit_icon" width="12" height="12">
          <use href="./images/sprite.svg#icon-more-sign"></use>
        </svg>
      </button>
      <button
        type="button"
        class="button_franchise address__frnchs cursor"
        data-modal5-open
      >
        <span class="button_spit">Franchise</span>
        <svg class="button_spit_icon" width="12" height="12">
          <use href="./images/sprite.svg#icon-more-sign"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
