<footer class="page-footer">
  <div class="page-footer__footer-top">
    <div class="container">
      <div class="page-footer__content_wrapper">
        <div>
          <p class="page-footer__text">
            Homemade ice cream<br class="mark-main-text" />
            made
          </p>
          <p class="page-footer__desk">
            With<br class="mark-main-text" />
            passion
          </p>
        </div>
        <div>
          <ul class="social-list list">
            <li class="social-list__item">
              <a
                href="https://github.com"
                class="social-list__link link cursor"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg
                  class="social-list__icon"
                  width="20"
                  height="20"
                  aria-label="Github social link"
                >
                  <use href="/src/images/sprite.svg#github-icon"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a
                href="https://web.telegram.org"
                class="social-list__link link cursor"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg
                  class="social-list__icon"
                  width="20"
                  height="15"
                  aria-label="Telegram social link"
                >
                  <use href="/src/images/sprite.svg#telegram-icon"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a
                href="https://www.facebook.com"
                class="social-list__link link cursor"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg
                  class="social-list__icon"
                  width="9"
                  height="20"
                  aria-label="Facebook social link"
                >
                  <use href="/src/images/sprite.svg#facebook-icon"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="page-footer__content_box">
            <p class="page-footer__content_text">Feel free to contact</p>
            <a
              href="tel:+610383766284"
              class="page-footer__content_link link cursor"
              >+61 (0) 383 766 284</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-footer__footer-bottom">
    <div class="page-footer__top-line"></div>
    <div class="container">
      <p class="copyright-text">
        &copy; 2022 - IceCream.<br class="mark-copyright" />
        All Rights Reserved.
      </p>
    </div>
  </div>
</footer>
