<div class="backdrop is-hidden" data-modal4>
  <div class="modal-map">
    <button class="map-close" type="button" data-modal4-close>
      <svg class="map-close-icon">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="text-modal-map">Our Locations</h2>
    <iframe
      class="map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d34297.148924802525!2d34.55333836627412!3d49.59342867264962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!5e0!3m2!1sru!2sua!4v1665432926785!5m2!1sru!2sua"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    >
    </iframe>
    <form
      action="https://goo.gl/maps/okVPwYa7pMyDKBjM6"
      method="get"
      target="_blank"
    >
      <button type="submit" class="button-map-submit">
        <span class="text-button">Open map</span>
      </button>
    </form>
  </div>
</div>
