<section class="products products__ice-cream-overlay" id="products">
  <div class="container">
    <p class="products__paragraph">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="list products__list-element">
        <div class="products__list-ellipse"></div>
        <div class="products__list-card">
          <h3 class="products__list-title">ice cream</h3>
          <p class="products__list-paragraph">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
          <button type="button" class="products__btn" data-modal2-open></button>
        </div>
      </li>

      <li class="list products__list-element">
        <div class="products__list-ellipse ellipse-coffee"></div>
        <div class="products__list-card bcg-coffee">
          <h3 class="products__list-title">ice coffee</h3>
          <p class="products__list-paragraph">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
          <button
            type="button"
            class="products__btn btn-coffee"
            data-modal2-open2
          ></button>
        </div>
      </li>

      <li class="list products__list-element">
        <div class="products__list-ellipse ellipse-milkshakes"></div>
        <div class="products__list-card bcg-milkshakes">
          <h3 class="products__list-title">milkshakes</h3>
          <p class="products__list-paragraph">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
          <button
            type="button"
            class="products__btn btn-milkshakes"
            data-modal2-open3
          ></button>
        </div>
      </li>
    </ul>
  </div>
</section>
